@media screen and (max-width:1000px) {
    body {
        background-color: aqua;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin-top: 6px;
        margin-bottom: -8px;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    .searchbar {
        justify-content: center;
        margin-top: -5px;

    }

    .searchbar input {
        display: flex;
        justify-content: center;
        padding-left: 5px;
        padding-right: 10px;
        margin-bottom: 5px;
    }

    .btn {
        margin-bottom: 5px;
    }

    .slider {
        /* height: 23vh;
    width:20vw; */
        display: flex;
        justify-content: center;
    }

    .card-item img {
        overflow: scroll;
        /* width:100px; */
    }


}