@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* :root{
    --main-bg-color:red;
} */
* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Lato', sans-serif;
    background: #000;


}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 75px;
    padding: 17px 15px;
}

nav ul {

    height: 50px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* text ma hover garda bold huncha */
nav ul li a:hover {
    font-weight: bolder;
}

nav {
    display: flex;

}

header {
    color: black;
    position: fixed;
    top: 0px;
    width: 100vw;

}

.searchbar {
    display: flex;
    align-items: center;


}

.searchbar input {
    width: 30vw;
    height: 4vh;

    padding-left: 30px;
}

.slider {
    height: 90vh;
    width: 120vw;
    margin: 20px 260px;
    overflow: hidden;
    /* display: flex;
    justify-content: center; */
}

.card {
    margin: -90px 0px 75px 40px;

}

.cards {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */

}

.card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
}

.card p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-left: 30px;
}

.m1 {
    margin-bottom: 8px;
}

.container {
    min-height: calc(100vh - 50px - 12vh);

    margin-top: 90px;
}




footer {
    height: 12vh;
    background: #000;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}